@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}
@font-face {
  font-family: 'Type Writer';
  src: url('type writer light.ttf') format('truetype'),
  url('TypeWriter Style.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  } /* Webkit */
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  } /* Padrão */
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  } /* Webkit */
}

body {
  background-color: #0a0b0c;
  color: white;
  font-family:"type writer";
  animation: fadein 1s;
}
.container {
  display: grid;
  grid-template-areas:
    "details details details character"
    "attributes attributes attributes expertise"
    "combat combat combat combat"
    "expertise2 expertise2 expertise2 expertise2";
  grid-gap: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.details {
  grid-area: details;
  height: auto;
  max-width: 390px;
}
.divLS{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    filter: drop-shadow(1px 1px 1px rgb(9, 9, 9));
}
.save{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #0a0b0c;
    color: white;
    font-family:"type writer";
    font-size: 15px;
    border: 1px solid #1d1d1d;
    border-radius: 2px;
}
#clear{
    color: #a10a0a;
    border-color: #640c0c;
}
.border {
  border: solid;
  border-width: 0.1px;
  border-color: #1d1d1d;
  border-radius: 3px;
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}

.logo {
  display: grid;
  justify-content: center;
  margin-top: 3%;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
.ordem {
  width: 110px;
  filter: opacity(0.9);
}
h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: normal;
  cursor: default;
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
h2 {
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  font: 20px "type writer";
  cursor: default;
}
h3 {
  text-align: center;
  font-weight: normal;
}
h4 {
  font: 17px "type writer";
  color: #ffffff;
  text-align: left;
  cursor: default;
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
.h4Sanity {
  font: 15px "type writer";
  color: #ffffff;
  text-align: left;
  margin-top: 10%;
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
.divInputs {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
input {
  border: none;
  border-bottom: 1px solid #1d1d1d;
  padding: 3px 7px;
  font: 13px "type writer";
  background-color: transparent;
  color: white;
  outline: 0;
}
.inputs {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.input {
  border: none;
  border-bottom: .1px solid #1d1d1d;
  padding: 1px 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  font: 17px "type writer";
  background-color: transparent;
  color: rgb(153, 153, 153);
  outline: 0;
}
.character {
  grid-area: character;
  width: 420px;
}
.characterHeader {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.characterPhoto {
  cursor: pointer;
  border: solid;
  border-width: 1px;
  border-color: #464646;
  border-radius: 50%;
  transition: 2s;
  max-width: 170px;
  width: 120px;
  max-height: 170px;
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
.characterPhoto:hover {
  background-color: grey;
}
@media only screen and (min-width: 375px) {
  .container {
    width: 75%;
  }

}

@media only screen and (min-width: 450px) {
  .container {
    width: 75%;
  }
}

@media only screen and (min-width: 650px) {
  .container {
    width: 72%;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
      width: 70%;
  }
}

@media only screen and (min-width: 1342px) {
  .container {
      width: 62%;
  }
}

@media only screen and (min-width: 1500px) {
  .container {
      width: 50%;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
      width: 40%;
  }
}
.dice {
  height: 90px;
  margin-top: 6%;
  cursor: pointer;
  transition: .2s ease-in;
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
.diceAppear {
  height: 35px;
  transition: 2s;
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
.dice:hover {
  transform: rotate(45deg);
}
.rollDices {
  float: right;
  position: sticky;
  display: grid;
  grid-template-areas:
    "D12"
    "D10"
    "D8"
    "D6"
    "D4";
  width: max-content;
  bottom: 15%;
  text-align: center;
  font: 10px "type writer";
  filter: grayscale(1);
  filter: drop-shadow(1px 1px 1px rgb(19, 19, 19));
}
.rDices {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  filter: grayscale(1);
}
.rDices .tooltiptext12 {
  visibility: hidden;
  width: 40px;
  background-color: #0000009c;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-top: -14px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.rDices .tooltiptext10 {
  visibility: hidden;
  width: 40px;
  background-color: #0000009c;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-top: -14px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.rDices .tooltiptext8 {
  visibility: hidden;
  width: 40px;
  background-color: #0000009c;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-top: -14px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.rDices .tooltiptext6 {
  visibility: hidden;
  width: 40px;
  background-color: #0000009c;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-top: -14px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.rDices .tooltiptext4 {
  visibility: hidden;
  width: 40px;
  background-color: #0000009c;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-top: -14px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.D12 {
  max-width: 50px;
  cursor: pointer;
  transition: 2s;
}
.dice12 {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.dice12:hover .tooltiptext12 {
  visibility: visible;
}
.dice12:hover .D12 {
  transform: scale(1.2) rotate(180deg);
}
.D10 {
  max-width: 50px;
  cursor: pointer;
  transition: 2s;
}
.dice10 {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.dice10:hover .tooltiptext10 {
  visibility: visible;
}
.dice10:hover .D10 {
  transform: scale(1.2) rotate(180deg);
}
.D8 {
  max-width: 50px;
  cursor: pointer;
  transition: 2s;
}
.dice8 {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.dice8:hover .tooltiptext8 {
  visibility: visible;
}
.dice8:hover .D8 {
  transform: scale(1.2) rotate(180deg);
}
.D6 {
  max-width: 50px;
  cursor: pointer;
  transition: 2s;
}
.dice6 {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.dice6:hover .tooltiptext6 {
  visibility: visible;
}
.dice6:hover .D6 {
  transform: scale(1.2) rotate(180deg);
}
.D4 {
  max-width: 50px;
  cursor: pointer;
  transition: 2s;
}
.dice4 {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.dice4:hover .tooltiptext4 {
  visibility: visible;
}
.dice4:hover .D4 {
  transform: scale(1.2) rotate(180deg);
}
.fundoEscuro {
  position: fixed;
  display: none;
  background-color: #000000a3;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 2;
}
.resultado {
  position: fixed;
  display: none;
  color: white;
  animation: fadein 2s;
  text-align: center;
  margin-left: 41%;
  margin-top: 15%;
  margin-bottom: 15%;
  width: 22%;
  top:10%;
  padding: 20px;
  z-index: 4;
  background-color: #0a0b0c;
  border: 1px solid;
  border-color: #ccc9c9;
  transition: 2s;
  align-content: center;
  justify-items: center;
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
.number {
  display: none;
  font: bold 30px "type writer";
  animation: fadein 0.5s;
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
.result {
  display: none;
  font: 25px "type writer";
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
.bars {
  padding-top: 12px;
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
.bar {
  width: 100%;
  background-color: #632122;
  margin-bottom: 10px;
  margin-top: 5px;
  transition: width 2s;
  height: 25px;
}
.bars .checkboxs {
  display: contents;
  text-align: center;
}
input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  bottom: 2px;
  border: solid 0.1px #a2a2a2;
  vertical-align: bottom;
  border-radius: 2px;
  z-index: -1;
  background-color: white;
}
input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 6px;
  width: 3px;
  height: 6px;
  border: solid rgba(255, 255, 255, 0.931);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
input[type="checkbox"]:checked + label:before{
background-color: rgb(0, 55, 255);
}
input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  font:14px "type writer";
}
.bars .checkboxs label {
  margin-right: 60px;
}
#dying{
  margin-right: 0;
}
.lifeBar {
  width: 0%;
  height: 25px;
  background-color: #640c0c;
  transition: width 2s;
}
.barcount {
  font-size: 15px;
  width: 6%;
  height: 100%;
  border: none;
  margin: 0;
}
.modal {
  position: absolute;
  transition: width 2s;
}
.with-input .modal-content {
  width: 40%;
  transition: width 2s;
}
.formModal {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: width 2s;
  margin-left: 20px;
}
.modal-content input {
  text-align: center;
  margin: 0;
  border: none;
  width: 130px;
  font-weight: bold;
  font-size: 15px;
}
.submitLife {
  color: #dbdbdb;
  cursor: pointer;
}

.sanity {
  margin-top: 5px;
}
.contentSanityBar {
  align-self: end;
  width: 100%;
  background-color: #213363;
  margin-bottom: 10px;
  margin-top: 5px;
}
.sanityDice {
  display: block;
    cursor: pointer;
    margin-left: 70%;
    height: 50px;
    transition: .8s;
    transform: rotate(15deg);
    filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
.sanityDice:hover {
  transform: rotate(345deg);
}
.sanityBar {
  width: 0%;
  height: 25px;
  background-color: #011550;
  transition: width 2s;
}
.ocultismo {
  margin-top: 4%;
}
.contentOcultBar {
  align-self: end;
  width: 100%;
  background-color: #402164;
  margin-bottom: 10px;
  margin-top: 5px;
}
.ocultBar {
  width: 0%;
  height: 25px;
  background-color: #300151;
  transition: width 2s;
}
.extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 1px 15px;
  text-align: center;
  font: 17px "type writer";
  filter: drop-shadow(1px 1px 6px rgb(2, 2, 2));
}
.extra .damage {
  display: flex;
  flex-direction: column;
  width: 100px;
}
#damage{
  margin-left: 1px;
  margin-right: 1px;
}
.extra .body {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.extra .exposure {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.extra input {
  width: 50%;
  height: 30px;
  text-align: center;
  font-size: 18px;
  align-self: center;
  border: 0.1px solid #1d1d1d;
  border-radius: 5px;
  margin-top: 5px;
  color: rgb(153, 153, 153);
}
.extra p {
  cursor: default;
}
.ocultBar > .submitLife:hover{
    border: 1px solid white;
}
.rolagemSanity{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font: 16px "type writer";
}
.rolagemSanity p {
  cursor: default;
}
#increment{
  width: 20px;
  height: 20px;
  border: 0.1px solid #1d1d1d;
  border-radius: 5px;
  margin: 0;
  margin-left: 2px;
  text-align: center;
  font-size: 15px;
  color: rgb(153, 153, 153);
}
ul{
  display: block;
  background-color: rgb(23, 23, 23);
  color: grey;
  width: 80px;
  height: 30px;
  z-index: 5;
  font: 22px "type writer";
  cursor: pointer;
}
ul:hover > .lista{
  display: block;
  z-index: 7;
  animation: fadein .3s;
}
.lista{
  display: none;
  list-style: none;
  margin-top: 1px;
  background-color: rgb(23, 23, 23);
  font: 16px "type writer";
  z-index: 7;

}
.lista > img{
  z-index: 7;
}
form{
  display: flex;
}
.add-imagem{
  position: fixed;
  display: none;
  color: white;
  animation: fadein 2s;
  text-align: center;
  margin-left: 39%;
  margin-bottom: 15%;
  top: 40%;
  padding: 20px;
  width: 20%;
  z-index: 4;
  background-color: #0a0b0c;
  border: 1px solid #ccc9c9;
  transition: 2s;

}
#imgadd{
  display: none;
}
.add-imagem > label {
  cursor: pointer;
  background-color: #0a0b0c;
  font-family:"type writer";
  font-size: 15px;
}
select{
  width: fit-content;
  height: 30px;
  background: transparent;
  border:1px solid #1d1d1d ;
  outline: none;
  cursor: pointer;
  color: rgba(153,153,153);
  font: 15px "type writer" ;
}
.seletores{
  margin-top: 3px;
  margin-bottom: 15px;
  width: 375px;
}
option {
  background-color: #0a0b0c;
  color:rgb(153, 153, 153);
  white-space:pre-line;
}
option:hover{
  background-color: rgb(153, 153, 153);
  color: #0a0b0c;
}
.attributes {
  grid-area: attributes;
}
h2.grid-title {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
hr {
  border-top: 1px solid #1d1d1d;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.attributes .attributesList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}
.attribute a {
  cursor: pointer;
}
.attributeDice:hover {
  transform: rotate(360deg);
}
.attribute .attributeDice {
  display: block;
  height: 55px;
  margin-right: 0;
  transition: .7s ease-in-out;
}
.attributes .attribute {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 85px;
}
.attribute input {
  width: 40%;
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
  align-self: center;
  border: 0.1px solid #1d1d1d;
  border-radius: 5px;
}
.expertise {
  grid-area: expertise;

}